<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body>


<main role="main">
<div class="container">
   <!-- Example row of columns -->
    <div class="row">
        <h2>Spy Robot</h2>
    </div>
    <div class="row">
        <div class="col-md-8">

            <img src="http://192.168.1.142:8081/" class="img-fluid max-width: 100%" alt="Responsive image">
        </div>
        <div class="col-md-4">

            <center>
            <button type="button" class= "btn btn-secondary" id="lights_on" name="lights_on">Lights On</button>
            <button type="button" class= "btn btn-secondary" id="lights_off" name="lights_off">Lights Off</button>
            </center>
            <p>
            <center>
                <a href="#" id="forward" style="font-size:30px;text-decoration:none;">Forward</a><br><br>
            </center>
            <center>
            <a href="#" id="left" style="font-size:30px;text-decoration:none;">Left                </a>
            <a href="#" id="right" style="font-size:30px; text-decoration:none;">Right</a><br><br>
            </center>

            <center>
                <a href="#" id="reverse" style="font-size:30px;text-decoration:none;">Reverse</a>
            </center>
            </p>
        </div>
    </div>
    <div class="row">
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Sensors</h3>
            <p>Headlights: <span class="badge badge-secondary" id="headlight_value"></span></p>

        </div>
        <div class="col-md-4">
            <h3>Motors</h3>
            <p>Direction: {{ direction }}</p>
        </div>
        <div class="col-md-4">
            <h3>System</h3>

        </div>
    </div>



 </div> <!-- /container -->







</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script>
$( document ).ready(function(){
    $("#reverse").on("mousedown", function() {
     $.get('/reverse');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#forward").on("mousedown", function() {
     $.get('/forward');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#left").on("mousedown", function() {
     $.get('/left');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#right").on("mousedown", function() {
     $.get('/right');
     }).on('mouseup', function() {
     $.get('/stop');
    });
});
</script>

<script>
    $(document).ready(function () {
        $('#lights_on').click(function() {
            // console.log('LED On');
            $.post('/robot/headlights/1');
        });
        $('#lights_off').click(function() {
            // console.log('LED Off');
            $.post('/robot/headlights/0');
        });


        // Function to update the switch state on the page.
        function updateHeadlights(headlightState) {
            if (headlightState === '0') {
              $('#headlight_value').text('Off');
              $('#headlight_value').toggleClass('badge-success', false);
              $('#headlight_value').toggleClass('badge-danger', true);
            }
            else if (headlightState === '1') {
              $('#headlight_value').text('On');
              $('#headlight_value').toggleClass('badge-success', true);
              $('#headlight_value').toggleClass('badge-danger', false);
            }
        }

        // Setup switch server sent event receiver.
        var headlightSource = new EventSource("{{ url_for('get_headlights') }}");
        headlightSource.onmessage = function(e) {
            updateHeadlights(e.data);
        }
            // Set the switch based on the value passed to this template.
            updateHeadlights('{{ headlights }}');
    });

</script>




</body>
</html>
